/* base styles */

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;800&display=swap');


.wrapper {
    margin: 0 auto;
    max-width: 500px;
    width: 90%;
}

/* font styles */

html {
    font-size: 125%;
}

body {
    /* base font incase others don't load */
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
footer p {
    text-align: center;
    margin: 0;
    /* font-family: 'Baloo 2', cursive; */
    font-family: 'Inconsolata', monospace;
}

/* button styles */

button {
    display: block;
    /* width: 40%; */
    padding: 20px 20px;
    border: none;
    border-radius: 40px;
    font-size: clamp(0.8rem, 6vw, 1rem);
}

h1 {
    font-family: 'Baloo 2', cursive;
    padding-top: 2vh;
    font-size: clamp(1.4rem, 7vw, 2rem);
}

h2 {
    text-transform: capitalize;
    font-size: clamp(1rem, 5vw, 1.6rem);
}

h3 {
    font-size: clamp(0.8rem, 4vw, 1.4rem);
}