/* styles for Pokemon.js */

.pokemon {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    background-color: lightgray;
    border-radius: 30px;
    width: 45%;
    height: 30%;
    flex-direction: column;
    padding: 20px 0;
    /* remove padding on mobile */
}

.textContainer {
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    

}

img {
    display: block;
    max-width: 100%;

}
