/* styles for Pokemon.js */

.pokemon {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    background-color: lightgray;
    border-radius: 30px;
    width: 45%;
    height: 30%;
    flex-direction: column;
}

.textContainer {
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    background-color: aliceblue;
}

.imageContainer {
    background-color: paleturquoise;
}