/* styles for Team.js */

/* section styles */

section {
    flex-direction: column;
    height: 80vh;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team {
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 30px;
    padding: 10px;
    height: 100%;
    /* background-color: grey; */
}