/* base styles */

.wrapper {
    margin: 0 auto;
    max-width: 1080px;
    width: 80%;
}

img {

}

/* font styles */

body {

}

h1, h2, h3, footer p {
    text-align: center;
}

/* section styles */

section {
    flex-direction: column;   
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team {
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 30px;
}

ul {
    padding: 10px;
    background-color: grey;
}

li {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    background-color: lightgray;
    border-radius: 30px;
}

.pokemon {
    width: 45%;
    flex-direction: column;
}

.textContainer {
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
}

/* button styles */

button {
    display: block;
    width: 30%;
    padding: 20px 10px;
    border: none;
    border-radius: 40px;
}
